body {
  background-image: url(https://www.telegraph.co.uk/content/dam/Travel/2016/September/nzu-sunday-AP109898678.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
